<%
const source = theme.footer.source;
const protocol = theme.footer.protocol;

const showMiit = theme.footer.miit.show;
const miitUrl = theme.footer.miit.url;
const miitContent = theme.footer.miit.content;

function layoutDiv() {
    var el = '';
    el += '<footer class="page-footer reveal fs12">';
    el += '<hr>';
    // sitemap
    if (theme.footer.sitemap && Object.keys(theme.footer.sitemap).length > 0) {
        el += '<div class="sitemap">';
        for (let group of Object.keys(theme.footer.sitemap)) {
            let items = theme.footer.sitemap[group];
            if (items == undefined || items.length == 0) {
                continue;
            }
            el += '<div class="sitemap-group">';
            el += '<span class="fs14">' + group + '</span>';
            items.forEach((item, i) => {
                el += '<a href="' + url_for(md_link(item)) + '">';
                el += __(md_text(item));
                el += '</a>';
            });
            el += '</div>';
        }
        el += '</div>';
    }
    // footer
    el += '<div class="text">';
    if (theme.footer.license) {
        el += markdown(__('footer.license', theme.footer.license));
    }
    // 转载协议
    if (protocol) {
        if ((typeof protocol == 'string') && protocol.constructor == String) {
            el += markdown(protocol);
        } else if ((typeof protocol == 'object') && protocol.constructor == Array) {
            protocol.forEach((item, i) => {
                el += markdown(item);
            });
        }
    }
    // 主题来源
    if (source) {
        if ((typeof source == 'string') && source.constructor == String) {
            el += markdown(source);
        } else if ((typeof source == 'object') && source.constructor == Array) {
            source.forEach((item, i) => {
                el += markdown(item);
            });
        }
    }
    // 如果需要展示备案号
    if (showMiit) {
        el += '<br>';
        el += '<a href="' + miitUrl + '">';
        el += miitContent
        el += '</a>';
    }
    el += '</div></footer>';
    return el;
}
%>
<%- layoutDiv() %>